<app-header />
<main class="content">
  <div class="sub-recap">
    <app-subscription-total-card [monthlyCost]="totalCostMonth()" [yearCost]="totalCostYear()" [currencyCode]="getCurrency()" />
    <app-active-subscriptions-card [activeSub]="totalSubActive()" [totalSub]="subscriptions().length" />
  </div>
  <div class="subscriptions-title-count">
    <h2>Your Subscriptions</h2>
    <div class="subscriptions-count">
      {{subscriptions().length}}
    </div>
  </div>
  @if(subscriptions().length == 0)
  {
  <span class="empty-sub">Create your first subscription!</span>
  }
  <div class="subscriptions-list">
    @for(sub of subscriptions(); track sub.id) {
    <app-subscription-card [subscription]="sub" [categories]="categories()" [currencyCode]="getCurrency()" (toggled)="onSubscriptionToggled($event)" />
    }
  </div>
</main>
@if(isAddModalOpen() || isEditModalOpen()) {
<app-add-subscription-modal [subscription]="modalService.modalData()?.data ?? null" [currencyCode]="getCurrency()" [categories]="categories()" (submitForm)="handleSubscription($event)" />
}

@if(isDeleteModalOpen()) {
<app-delete-subscription-modal [subscription]="modalService.modalData()?.data" (confirm)="onDeleteSubscription()"/>
}