<app-header />
<main class="content">
  <div class="sub-recap">
    <app-subscription-total-card [monthlyCost]="101.96" [yearCost]="1224" />
    <app-active-subscriptions-card [activeSub]="1" [totalSub]="2" />
  </div>
  <app-subscription-card />
</main>
@if(isModalOpen) {
<app-add-subscription-modal (close)="isModalOpen = false" (add)="handleNewSubscription($event)" />
}
<!-- <div class="dashboard-container">
  <header class="dashboard-header">
    <h1>My Subscriptions</h1>
    <button (click)="openAddForm()">+ Add Subscription</button>
  </header>

  <app-subscription-stats 
    [monthlyTotal]="stats?.monthlyTotal"
    [yearlyTotal]="stats?.yearlyTotal"
    [activeCount]="stats?.activeCount">
  </app-subscription-stats>

  <app-subscription-list 
    [subscriptions]="subscriptions"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)">
  </app-subscription-list>
</div> -->