@use 'utils' as *;
@use 'button' as *;

.logo-circle {
    @include circle;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    .title {
        color: var(--foreground);
        font-weight: 700;
        font-size: 1.5rem;
    }

    .sub-title {
        margin: 0;
        color: var(--muted-foreground);
        font-size: large;
    }
}

.card {
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
}

.nav {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border);

    .nav-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem 0 1rem;
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.buttons-list {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.header-button {
    appearance: none;
    border: none;
    border-radius: 100%;
    background: transparent;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
        background: var(--accent);
        color: var(--background);
    }
}

.button-icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
}

.dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-button {
    @include base-button;
    padding: 0.5rem 2rem;
    height: 3rem;

    .label {
        display: inline;
    }
}

.dropdown-title {
    border-bottom: 1px solid #f0f0f0;
    font-weight: 700;
    @include flex-center();
    padding: 5px 15px 10px 15px;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .create-button {
        height: 2.5rem;
        padding: 0.5rem 1rem;
        .label {
            display: none;
        }
    }
}