<header class="card">
    <nav class="nav">
        <div class="nav-container">
            <a routerLink="/dashboard" class="header-logo">
                <div class="logo-circle">S</div>
                <div class="flex-column">
                    <span class="title">SubTracker</span>
                    <span class="sub-title">Welcome back</span>
                </div>
            </a>
            <div class="buttons-list">
                <button class="create-button" (click)="onAddSubcriptionClick()">
                    <span class="symbol">+</span>
                    <span class="label">Add Subscription</span>
                </button>
                <button class="header-button">
                    <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3
           7 7 0 0 0 21 12.79z" />
                    </svg>

                </button>
                <app-dropdown class="dropdown-icon" #accountDropdown (itemClick)="onDropdownItemClick($event)">
                    <div icon class="header-button">
                        <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2">
                            <circle cx="12" cy="8" r="4" />
                            <path d="M6 20v-1a6 6 0 0 1 12 0v1" />
                        </svg>
                    </div>
                    <div class="dropdown-title">
                        My Account
                    </div>
                    <div class="menu-item" [class.disabled]="true"
                        (click)="accountDropdown.onMenuItemClick($event, 'Profile')">
                        Profile
                    </div>
                    <div class="menu-item" [class.disabled]="true"
                        (click)="accountDropdown.onMenuItemClick($event, 'Settings')">
                        Settings
                    </div>
                    <div class="menu-item delete-option" (click)="accountDropdown.onMenuItemClick($event, 'Logout')">
                        Logout
                    </div>
                </app-dropdown>
            </div>
        </div>
    </nav>
</header>