<div class="card">
    <div class="stonk-logo">
        <div class="stonk-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 7h6v6" />
                <path d="m22 7-8.5 8.5-5-5L2 17" />
            </svg>
        </div>
        <div class="flex-column">
            <span class="title">Active Subscriptions</span>
            <span class="active-sub">{{activeSub()}}</span>
        </div>
    </div>
    <div class="total-sub-bg">
        <span class="total-sub">{{totalSub()}} Total</span>
    </div>
</div>